# This file should hold configs for different chromebook models.
# Instead of holding separate cfg files (model specific), at least
# for now, that does not make sense since they use a generic MACHINE.

# Acer Chromebook 11 CB3 Touchpad
CONFIG_TOUCHSCREEN_ELAN=y
CONFIG_MOUSE_PS2_ELANTECH=y
CONFIG_MOUSE_ELAN_I2C=y
CONFIG_MOUSE_ELAN_I2C_I2C=y
CONFIG_MOUSE_ELAN_I2C_SMBUS=y

# Acer C7 Trackpad (Cypress)
CONFIG_MOUSE_CYAPA=y
CONFIG_CRC_ITU_T=y
CONFIG_I2C_I801=y
CONFIG_CHROME_PLATFORMS=y
CONFIG_CHROMEOS_LAPTOP=y