# There are 3 available kernels and a different process is followed to
# "build" their kernel configuration.


####**** Linux Yocto ****####
# Base our linux-yocto on configuration on the following:
#
## eve-chromebook: intel-corei7-64 KMACHINE from meta-yocto-bsp
#      + configs coming from chromiums kernel fork defconfig
#      - incompatible configs with linux-yocto (chromium specific)
#      + pixelbook specific options coming from a running Chrome OS
#        (two files, one with linux(common) configs and another one
#        with Chrome OS specific ones.
#
## x86-chromebook: intel-corei7-64 KMACHINE from meta-yocto-bsp
#      + configs coming from chromiums kernel fork defconfig
#      - incompatible configs with linux-yocto
#
## arm64-chromebook: qemuarm64 KMACHINE from meta-yocto-bsp
#      TODO
#      Follow the same process but for ARM flavour



####**** Linux Chromium ****####
# Base it on defconfig coming from chromiums fork of the kernel
#   - "is not set" configs to avoid unsetting configs coming from the BSP
#   + pixelbook specific options coming from a running Chrome OS kernel
#   + chromium kernel specific options not present on Linux



####**** Linux Intel ****####
# "vanilla" kernel config coming from intel-corei7-64
# + machine specific extras (only on pixelbook)




####**** Vanilla kernel configs ****####
# A directory named vanilla_kernel_configs contains the vanilla versions
# from which others were constructed
###  chromium-x86-64-defconfig-<release>-<version>.cfg:
###    kernel config that came from Appendix A

###  eve-stock_<version>.cfg:
###    kernel config from Appendix B




####**** Appendix A - Getting a defconfig from chromium's kernel fork ****####

# Steps to get default config on linux-chromium
## Get supported "flavours"
### find chromeos/config -name \*.flavour.config
### chromeos/scripts/prepareconfig  chromiumos-x86_64
### chromeos/scripts/kernelconfig oldconfig


####**** Appendix B - Get config from a device running Chrome OS ****####
# Steps to get the running Chrome OS config
## modprobe configs; zcat /proc/config.gz



####**** Appendix C - Details on "building" the kernel configuration ****####
# Base defconfig coming from chromiums kernel fork (Appendix A)
# Minus (grep) "is not set" chromium-defconfig to avoid
#   unsetting configs coming from the BSP.
# Minus  invalid configs that are only available on linux-chromium (taken
#   from invalid.cfg coming from the yocto kernel infrastructure.
#   (these are present when building linux-chromium though)
# Plus extra pixelbook configs (not the linux-chromium ones) that came from
#   a running Chrome OS kernel on a pixelbook
# Plus a fix to allow the kernel to load modules correctly when they
#   were required by hw (e.g. iwlmvm or vfat) CONFIG_STATIC_USERMODEHELPER